@import "./variables";

.f-divider {
  display: inline-block;
  width: 100%;
  text-align: center;
  &.f-divider-x {
    float: left;
    .f-btn,
    .f-input-group {
      position: relative;
      top: -1.75rem;
    }
  }
  &.f-divider-align-right {
    float: right;
    .f-btn,
    .f-input {
      margin-left: 1rem;
    }
  }
}
