@import "./variables";

.f-footer {
  padding: 1rem 2rem;
  margin-top: 1rem;
  .f-logo {
    max-width: 150px;
    margin-right: 1rem;
    margin-bottom: 0 !important;
    img {
      width: 100%;
    }
    .f-header-link {
      list-style: none;
      margin: 0;
      li {
        float: left;
        margin-right: 1rem;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 1rem;
  }
}
