@import "./variables";

.f-item {
  border-radius: 10px;
  &.f-item-align-left {
    float: left;
    // display: flex;
    // justify-content: flex-start;
    > * {
      margin-right: 1rem;
    }
  }
  &.f-item-align-center {
    text-align: center;
    // display: flex;
    // justify-content: center;
    > * {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
  &.f-item-align-right {
    float: right;
    // display: flex;
    // justify-content: flex-end;
    > * {
      margin-left: 1rem;
    }
  }
}
