@import "./variables";

.f-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &.f-list-style-number {
    list-style: decimal;
  }
  &.f-list-style-circle {
    list-style: circle;
  }
  .f-list-item {
    transition: $transition;
    border-radius: $borderRadiusBase * 4;
    &:hover {
      background: $themePrimaryColor;
    }
  }
  &.f-list-info {
    .f-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
