@import "./variables";

.f-mobile {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .f-layout {
    .f-header {
      padding: 1rem 1.5rem !important;
    }
    .f-logo {
      display: flex !important;
      margin-top: -0.25rem;
      margin-bottom: 1rem;
      max-width: 50px;
      min-width: 50px;
      overflow: hidden;
      img {
        min-width: 140px;
        padding-left: 0.25rem;
      }
    }
    .f-mobile {
      display: block !important;
    }
    .desktop-aside-toggler {
      display: none;
    }

    aside {
      height: auto;
      left: auto;
      position: fixed;
      right: 0;
      z-index: $zIndex * 9;
      background: $baseColor;
      right: -$siderExpandedWidth - 20px;
      overflow: visible;
      padding-top: $spacer;
      .f-logo {
        display: none !important;
      }
      .mobile-aside-toggler {
        float: right;
        width: 30px;
        height: 30px;
        margin-left: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: $zIndex * 2;
        position: absolute;
        right: $siderExpandedWidth + 60px;
        top: 1.5rem;
        span {
          background: white;
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2) {
            top: 10px;
          }
          &:nth-child(3) {
            top: 20px;
          }
        }
        &.open {
          span {
            &:nth-child(1) {
              top: 14px;
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
            &:nth-child(2) {
              opacity: 0;
              left: -60px;
            }
            &:nth-child(3) {
              top: 14px;
              -webkit-transform: rotate(-135deg);
              -moz-transform: rotate(-135deg);
              -o-transform: rotate(-135deg);
              transform: rotate(-135deg);
            }
          }
        }
      }
      &.sider-expanded {
        right: 0;
        .mobile-aside-toggler {
          right: 1rem;
          top: 1rem;
        }
      }
    }
    header {
      padding: 1rem 1.5rem;
      display: inline-block !important;
      position: relative;
      .f-header-title {
        position: absolute;
        left: 90px;
        top: 1.5rem;
      }
      .f-header-items {
        .f-item {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .f-input-group {
            margin: 0;
            margin-bottom: 1rem;
          }
          .f-btn {
            flex: 0 0 48%;
            margin: 0;
          }
          // padding-right: 1rem;
        }
      }
      .header-actions {
        width: calc(100% + 5rem);
        display: flex;
        justify-content: center;
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .f-layout {
    .f-header {
      .f-btn-wrap {
        .f-btn-info {
          display: none !important;
        }
      }
    }
  }
  // RESPONSIVE TABLE
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    display: none;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 2.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td > div::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
