.theme-builder-btn {
  $themeBtnWidth: 38px;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: $zIndex;
  min-width: $themeBtnWidth;
  height: $themeBtnWidth;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  svg {
    border-radius: 5px;
    [fill] {
      background: none;
    }
    path {
      fill: white;
    }
  }
}

$DrawerSize: 550px;
.f-dialog-drawer {
  .color-picker {
    h4 {
      font-size: 1.5rem;
      text-align: center;
      padding: 0.5rem 0;
      margin: 0;
      color: red;
    }
  }
  .component-title {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 0;
    background: white;
    color: black;
    border-radius: 0 100px 0 0;
    float: left;
    padding-right: 2rem;
    padding-left: 1rem;
  }
  .theme-bulider-component {
    border: 1px solid white;
    padding: 0.5rem 0.5rem;
  }
  .card-title {
    background: #ddd;
    color: black;
    padding: 0.25rem;
    text-align: center;
    display: block;
  }
  &.f-dialog-theme-builder {
    .f-dialog-header {
      background: #000000;
    }
    .f-card {
      padding: 0.5rem;
      .f-btn {
        margin-bottom: 1rem;
      }
    }

    .f-dialog-content {
      position: fixed;
      transform: translate(400px, 0) !important;
      z-index: $zIndex;
      right: 0;
      bottom: 0;
      margin: 0;
      max-width: $DrawerSize;
      border-radius: 0;
      min-width: $DrawerSize;
      max-width: $DrawerSize;
      top: auto !important;
      left: auto !important;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      $pickerSize: 3rem;
      padding: 1rem;
      .modal-header {
        .close {
          color: #fff;
        }
      }
      section {
        padding: 1rem;
        border: 1px solid #eee;
        border-radius: 5px;
        margin-bottom: 1rem;
        h5 {
          margin-bottom: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        hr {
          background: white;
        }
        .radio-group {
          display: flex;
          flex-wrap: wrap;
          .custom-control {
            flex: 0 0 100%;
            margin-bottom: 0.5rem;
          }
        }
        .input-group {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          label {
            min-width: 150px;
            font-weight: 500;
            margin: 0;
          }
        }
        aside {
          min-height: auto;
          height: auto;
          max-width: 100%;
          position: relative;
        }
      }
      .position-sticky {
        position: sticky;
        top: 0;
        z-index: 10000;
        background-color: white;
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.15);
        width: calc(100% + 3rem);
        margin: 0 auto 2rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }
      .ui-color-picker {
        width: 100%;
        padding: 0 1rem;
        .picker-area {
          .picking-area {
            height: 100px;
          }
        }
        .gradient-controls {
          // flex-direction: column;
        }
        .gradient-degree-value p {
          color: #111 !important;
          margin: 0;
        }
        .input-field {
          .input-container {
            input {
              margin: 0 !important;
              color: #111 !important;
            }
          }
        }
        // .gradient {
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   height: $pickerSize;
        // }
      }
    }
    &.show {
      .f-dialog-content {
        transform: translate(0, 0) scale(1) !important;
      }
    }
  }
  .btn-bar {
    display: flex;
    justify-content: center;
    .f-btn {
      margin: 1rem 0.5rem;
    }
  }
}
